$color-primary: rgba(159, 89, 224, 0.27);
$color-primary-shadow: rgba(89, 85, 85, 0.27);
$color-redish: rgba(245, 52, 98, 0.82);
$color-green: rgba(17, 250, 9, 0.27);
$color-black: rgba(0, 0, 0, 0.96);
$color-white: rgb(255, 255, 255);
$color-grey: rgba(109, 109, 110, 0.75);
$color-light-grey: rgba(208, 206, 206, 0.83);
