.array__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #d9d8d8; /* Light background color */
}

.array__login {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.array__login tr {
  margin-bottom: 15px;
}

.array__login th {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

.array__login td {
  padding: 10px 0;
}

.array__login label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.array__login input[type='text'],
.array__login input[type='password'] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.array__login button {
  width: 100%;
  padding: 10px;
  background-color: #f4597e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.array__login button:hover {
  background-color: #e35c7e;
}
a{
  text-decoration: none;
  color: black;
}
